<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About</title>
  <link rel="stylesheet" href="css/about.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    <form action="/about" method="get">
  <div class="wrapper">
    <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content">
      <div class="logo"><a href="#">FarmLanders</a></div>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li>
            <a href="#" class="desktop-link">Contact</a>
            <input type="checkbox" id="show-features">
            <label for="show-features">Contact</label>
            <ul>
              <li><a href="#">Pranav</a></li>
              <li><a href="#">Pramith</a></li>
            </ul>
          </li>
          <li>
            <a href="/submit" class="desktop-link">Submit Post</a>
            <input type="checkbox" id="show-services">
            <label for="show-services">Submit Post</label>
          </li>
        </ul>
      </div>
      <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
      <form action="#" class="search-box">
        <input type="text" placeholder="Type Something to Search..." required>
        <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
      </form>
    </nav>
  </div>
   
  <div class="image">
  <img src="https://thumbs.dreamstime.com/b/indian-farmer-holding-crop-plant-his-wheat-field-indian-farmer-holding-crop-plant-his-wheat-field-123557695.jpg">
  </div>
  <div class="about-text">
    <h2>About This Website</h2>
    <h2>Aims And Features</h2>
  </div>
</form>
</body>
</html>