<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Booked Successfully</title>
  <link rel="stylesheet" href="/css/booked.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>
<body>
  <div class="wrapper">
    <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content">
      <div class="logo"><a href="#">FarmLanders</a></div>
        <ul class="links">
          <li><a href="home.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li>
            <a href="#" class="desktop-link">Contact</a>
            <input type="checkbox" id="show-features">
            <label for="show-features">Contact</label>
            <ul>
              <li><a href="#">Pranav</a></li>
              <li><a href="#">Pramith</a></li>
            </ul>
          </li>
          <li>
            <a href="submit.html" class="desktop-link">Submit Post</a>
            <input type="checkbox" id="show-services">
            <label for="show-services">Submit Post</label>
          </li>
        </ul>
      </div>
      <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
      <form action="#" class="search-box">
        <input type="text" placeholder="Type Something to Search..." required>
        <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
      </form>
    </nav>
  </div>
   
  <div class="about-text">
    <h2>Booked Successfully...</h2>
  </div>
  <div class="lotty">
  <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_Yk0pxWYfo6.json"  background="transparent"  speed="1"  style="width: 100px; height: 100px;"  loop  autoplay></lottie-player>
  </div>
</body>
</html>